*, ::before ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.modal-body {
    display: flex;
    gap: 4px;
}

.remove-book {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s, ease-in-out;
    text-transform: uppercase;
    background-color: #d9534f;
    border: #d9534f;
    color: #fff;
    outline: none;
}